<div class="form">
    <div>
        <p>
            Transfer failed.
        </p>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" @onclick="BlazoredModalInstance.Close">Close</button>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModalInstance { get; set; }

   
}
