@page "/walletEdit"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PaymentSystem.Shared
@attribute [Authorize]
@inject HttpClient Http

<h3>WalletEdit</h3>

@*TODO Page for Wallet Edit*@

@code {

}
